.l-container {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
} 
.l-side {
  background-color: white;
  float: left;
  width: 280px;
  margin: 50px 40px 0 0;
}
.l-main {
  width: 800px;
  margin-top: 50px;
}
.user-detail-value {
  background-color: white;
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.search-result {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
.detail_shipping_address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.shipping_address_edit_link a{
  margin-right: 40px;
  color: blue;
}